{% load static %}
<html>
<head>
    <title>
        Pyking
    </title>
</head>
<body style ="background-image: url({% static 'Image/ai.jpg' %} "width:100px;height:600px" )">

  <style media="">

  </style>
<p><h1>
  Welcome to the <b>PyKing</b>. This is a program which will work on your Finger Tips .
</p></h1>
Click here to search by Voice </br>
<button type="button ">By Voice !</button>

</br>
Click Here To Search by Text
<form action="bytext">
  <input type="Submit" name="Result" value="Go to Text Page">

</br>


</body>
</html>
